@use "../../foundation/" as *;

.u-top {
	background-image: url(../images/nav-top.svg);
}
.u-about {
	background-image: url(../images/nav-about.svg);
}
.u-info {
	background-image: url(../images/nav-info.svg);
}
.u-flyer {
	background-image: url(../images/nav-flyer.svg);
}
.u-project {
	background-image: url(../images/nav-project.svg);
}
.u-concept {
	background-image: url(../images/nav-concept.svg);
}
.u-contact {
	background-image: url(../images/nav-contact.svg);
}