@use "../../foundation/" as *;

.u-top {
	background-image: url(../images/nav-top.png);
}
.u-about {
	background-image: url(../images/nav-about.png);
}
.u-info {
	background-image: url(../images/nav-info.png);
}
.u-flyer {
	background-image: url(../images/nav-flyer.png);
}
.u-project {
	background-image: url(../images/nav-project.png);
}
.u-concept {
	background-image: url(../images/nav-concept.png);
}
.u-contact {
	background-image: url(../images/nav-contact.png);
}