@use "../../foundation/" as *;

.c-author-list {
	&__title {
		display: block;
		background: url(../images/title-author-list.svg);
		background-position: top left;
		background-repeat: no-repeat;
		background-size: cover;
		color: $textColor_0color;
		font-size: 0px;

		@include media(iPhone) {
			line-height: calc((34 * 100 / 750)* 1svw);
			height: calc((34 * 100 / 750)* 1svw);
			margin-top: calc((25 * 100 / 750)* -1svw);
		}

		@include media(PC) {
			line-height: 34px;
			height: 34px;
			margin-top: -25px;
		}
	}

	&__lists {
		&--wrap.js-open {
			display: block;
			background: $bgColor_PaleGray;
			border-width: 1px;
			border-color: $textColor_0color $textColor_0color $bgColor_Black $textColor_0color;
			border-style: solid;
			height: 100%;
			overflow: hidden;

			@include media(iPhone) {
				width: 100%;
				margin: calc((60 * 100 / 750)* 1svw) auto 0 auto;
				padding: 0;
				font-size: calc((32 * 100 / 750)* 1svw);
			}

			@include media(PC) {
				width: 100%;
				margin: 60px auto 0 auto;
				padding: 0;
				font-size: 32px;
			}

			// transition: all 700ms ease-in-out;

			&>.c-author-list__lists--member {
				opacity: 1;
				transition: all 700ms ease-in-out;
			}
		}

		&--wrap {
			display: block;
			background: $bgColor_PaleGray;
			border-width: 1px;
			border-color: $bgColor_Black $textColor_0color $textColor_0color $textColor_0color;
			border-style: solid;
			height: 0;
			overflow: hidden;

			@include media(iPhone) {
				width: 100%;
				margin: 0 auto;
				padding: 0;
				font-size: calc((32 * 100 / 750)* 1svw);
			}

			@include media(PC) {
				width: 100%;
				margin: 0 auto;
				padding: 0;
				font-size: 32px;
			}

			// animation: slideUp 700ms;
			// transition: all 700ms ease-in-out;

			&>.c-author-list__lists--member {
				opacity: 0;
			}
		}

		&--title {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			font-family: $textFont_Japanese;
			background: $bgColor_PaleGray;
			border-width: 1px;
			border-color: $bgColor_Black $textColor_0color $textColor_0color $textColor_0color;
			border-style: solid;

			@include media(iPhone) {
				width: 100%;
				margin: 0;
				padding: 0 calc((55 * 100 / 750)* 1svw);
				font-size: calc((32 * 100 / 750)* 1svw);
				line-height: calc((50 * 100 / 750)* 1svw);
				height: calc((80 * 100 / 750)* 1svw);
			}

			@include media(PC) {
				width: 100%;
				margin: auto;
				padding: 0 55px;
				font-size: 32px;
				line-height: 50px;
				height: 80px;
			}

			&::after {
				content: url('../images/icon-down.svg');
				opacity: 1;
				transition: all 700ms;
				z-index: 0;

				@include media(iPhone) {
					transform: rotate(0deg) scale(0.5);
					margin: 1svw 0 0 0;
				}

				@include media(PC) {
					transform: rotate(0deg);
					margin: -4px 0 0 0;
				}
			}

			&.menu-open::after {
				z-index: -1;
			}

			&:has(+ .js-open)::after {
				content: url('../images/icon-down.svg');
				opacity: 1;
				transform: rotate(180deg);
				transition: all 700ms;
				z-index: 0;

				@include media(iPhone) {
					transform: rotate(180deg) scale(0.5);
					margin: 0 0 1svw 0;
				}

				@include media(PC) {
					transform: rotate(180deg);
					margin: 0 0 -4px 0;
				}

			}
		}

		&--wrap+&--title {
			@include media(iPhone) {
				margin-top: calc((20 * 100 / 750)* 1svw);
			}

			@include media(PC) {
				margin-top: 20px;
			}
		}

		&--member {
			display: flex;
			flex-flow: row wrap;
			margin: 0;

			@include media(iPhone) {
				width: 100%;
			}

			@include media(PC) {
				width: 100%;
			}
		}

		&--list {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(4, 1fr);
			grid-column-gap: 0px;
			grid-row-gap: 0px;

			@include media(iPhone) {
				width: 50%;
			}

			@include media(PC) {
				width: 50%;
			}
		}
	}

	&__name--wrap {
		grid-area: 1 / 1 / 5 / 2;
	}

	&__caption {
		color: $bgColor_Black;
		font-family: $textFont_English;

		@include media(iPhone) {
			font-size: calc((28 * 100 / 750)* 1svw);
			line-height: calc((60 * 100 / 750)* 1svw);
			padding: calc((60 * 100 / 750)* 1svw) calc((30 * 100 / 750)* 1svw) calc((55 * 100 / 750)* 1svw) calc((30 * 100 / 750)* 1svw);
		}

		@include media(PC) {
			font-size: 28px;
			line-height: 60px;
			padding: 60px 30px 55px 30px;
		}
	}

	&__name {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;

		@include media(iPhone) {
			font-size: calc((38 * 100 / 750)* 1svw);
			line-height: calc((60 * 100 / 750)* 1svw);
			padding-bottom: calc((26 * 100 / 750)* 1svw);
		}

		@include media(PC) {
			font-size: 38px;
			line-height: 60px;
			padding-bottom: 26px;
		}
	}

	&__image {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;

		@include media(iPhone) {
			padding-bottom: calc((26 * 100 / 750)* 1svw);
		}

		@include media(PC) {
			padding-bottom: 26px;
		}
	}

	&__sample {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;

		&--image {
			@include media(iPhone) {
				width: calc((213 * 100 / 750)* 1svw);
				height: calc((213 * 100 / 750)* 1svw);
			}

			@include media(PC) {
				width: 213px;
				height: 213px;
			}
		}
	}

	&__color {
		display: flex;
		// display: none;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		color: $textColor_PGray;

		@include media(iPhone) {
			font-size: calc((28 * 100 / 750)* 1svw);
			line-height: calc((60 * 100 / 750)* 1svw);
			padding-bottom: calc((26 * 100 / 750)* 1svw);
		}

		@include media(PC) {
			font-size: 28px;
			line-height: 60px;
			padding-bottom: 26px;
		}
	}

	#manga + &__lists--wrap > &__lists--member > &__lists--list > &__name--wrap > &__color {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		text-align: center;
		min-height: 5.2em;
	}
	#manga + &__lists--wrap > &__lists--member > &__lists--list:first-of-type > &__name--wrap > &__color {
		font-family: "M PLUS Rounded 1c";
		font-stretch: 30%;
	}

	&__sns {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;

		&--link {
			@include media(iPhone) {
				width: calc((83 * 100 / 750)* 1svw);
				height: calc((83 * 100 / 750)* 1svw);
				margin-bottom: calc((100 * 100 / 750)* 1svw);
			}

			@include media(PC) {
				width: 83px;
				height: 83px;
				margin-bottom: 100px;
			}
		}
	}
}