@use "../../foundation/" as *;

.c-button {
	&__close {
		display: block;
		position: relative;
		color: $textColor_0color;
		font-size: 0px;
		background: url(../images/button-close.svg) center no-repeat;
		background-size: contain;
		@include media(iPhone){
			height: calc(( 36 * 100 / 750 )* 1svw);
			width: calc(( 176 * 100 / 750 )* 1svw);
			margin: calc(( 120 * 100 / 750 )* 1svw) auto calc(( 120 * 100 / 750 )* 1svw) calc(( 60 * 100 / 750 )* 1svw);
		}
		@include media(PC){
			height: 36px;
			width: 176px;
			margin: 120px auto 120px 60px;
		}
	}
	&__accordion-close {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		font-family: $textFont_Japanese;
		@include media(iPhone){
			font-size: calc((32 * 100 / 750)* 1svw);
			margin: calc((60 * 100 / 750)* 1svw) auto;
		}
		@include media(PC){
			font-size: 32px;
			margin: 60px auto;
		}
		&::after {
			display: inline-block;
			content: url('../images/icon-down.svg');
			padding: 0 0.5em 0.1em 0;
			@include media(iPhone){
				font-size: calc((32 * 100 / 750)* 1svw);
				transform: rotate(180deg) scale(0.5);
			}
			@include media(PC){
				transform: rotate(180deg) scale(0.8);
				font-size: 32px;
			}
		}
	}
	&__modal-close {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		font-family: $textFont_Japanese;
		@include media(iPhone){
			font-size: calc((32 * 100 / 750)* 1svw);
			margin: calc((60 * 100 / 750)* 1svw) auto;
		}
		@include media(PC){
			font-size: 32px;
			margin: 60px auto;
		}
		&::after {
			display: inline-block;
			content: url('../images/icon-down.svg');
			padding: 0 0.5em 0.1em 0;
			@include media(iPhone){
				font-size: calc((32 * 100 / 750)* 1svw);
				transform: rotate(180deg) scale(0.5);
			}
			@include media(PC){
				transform: rotate(180deg) scale(0.8);
				font-size: 32px;
			}
		}
	}
	&__flyer {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $bgColor_Black;
		color: $bgColor_White;
		text-align: center;
		@include media(iPhone){
			margin: calc(( 3 * 100 / 750 )* -1svw) auto calc(( 3 * 100 / 750 )* 1svw) auto;
			line-height: calc(( 100 * 100 / 750 )* 1svw);
			height: calc(( 100 * 100 / 750 )* 1svw);
			font-size: calc(( 32 * 100 / 750 )* 1svw);
			width: calc(( 650 * 100 / 750 )* 1svw);
			border-radius: calc(( 50 * 100 / 750 )* 1svw);
		}
		@include media(PC){
			margin: -3px auto 3px auto;
			line-height: 100px;
			height: 100px;
			font-size: 32px;
			width: 650px;
			border-radius: 50px;
		}
		&::after {
			content: "";
			position: absolute;
			right: 0;
			display: inline-block;
			border-width: 0.5em;
			border-style: solid;
			border-color: $textColor_0color $textColor_0color $textColor_0color $bgColor_White;
			@include media(iPhone){
				margin: 0.1em 1em 0 0.5em;
			}
			@include media(PC){
				margin: 0.1em 20px 0 0.5em;
			}
		}
		&--wrapper {
			display: block;
			background: $textColor_PGray;
			@include media(iPhone){
				margin: 0 auto calc(( 155 * 100 / 750 )* 1svw) calc(( 30 * 100 / 750 )* 1svw);
				height: calc(( 100 * 100 / 750 )* 1svw);
				width: calc(( 650 * 100 / 750 )* 1svw);
				border-radius: calc(( 50 * 100 / 750 )* 1svw);
			}
			@include media(PC){
				margin: 0 auto 155px 30px;
				height: 100px;
				width: 650px;
				border-radius: 50px;
			}
		}
	}
	&__project {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $bgColor_Black;
		color: $bgColor_White;
		text-align: center;
		@include media(iPhone){
			margin: calc(( 3 * 100 / 750 )* -1svw) auto calc(( 3 * 100 / 750 )* 1svw) auto;
			line-height: calc(( 32 * 100 / 750 )* 1svw);
			height: calc(( 100 * 100 / 750 )* 1svw);
			font-size: calc(( 28 * 100 / 750 )* 1svw);
			width: calc(( 650 * 100 / 750 )* 1svw);
			border-radius: calc(( 50 * 100 / 750 )* 1svw);
		}
		@include media(PC){
			margin: -3px auto 3px auto;
			line-height: 32px;
			height: 100px;
			font-size: 28px;
			width: 650px;
			border-radius: 50px;
		}
		&::after {
			content: "";
			position: absolute;
			right: 0;
			display: inline-block;
			border-width: 0.5em;
			border-style: solid;
			border-color: $textColor_0color $textColor_0color $textColor_0color $bgColor_White;
			@include media(iPhone){
				margin: 0.1em 1em 0 0.5em;
			}
			@include media(PC){
				margin: 0.1em 20px 0 0.5em;
			}
		}
		&--wrapper {
			display: block;
			background: $textColor_PGray;
			@include media(iPhone){
				margin: 0 auto calc(( 155 * 100 / 750 )* 1svw) calc(( 30 * 100 / 750 )* 1svw);
				height: calc(( 100 * 100 / 750 )* 1svw);
				width: calc(( 650 * 100 / 750 )* 1svw);
				border-radius: calc(( 50 * 100 / 750 )* 1svw);
			}
			@include media(PC){
				margin: 0 auto 155px 30px;
				height: 100px;
				width: 650px;
				border-radius: 50px;
			}
		}
	}
}
