@use "../../foundation/" as *;

.c-hidden-menu {
	&__lists{
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: flex-start;
		font-family: $textFont_English;
		&--list {
			color: $bgColor_Black;
			@include media(iPhone){
				min-height: calc(( 80 * 100 / 750 )* 1svw);
				line-height: calc(( 80 * 100 / 750 )* 1svw);
				text-indent: calc(( 60 * 100 / 750 )* 1svw);
			}
			@include media(PC){
				min-height: 80px;
				line-height: 80px;
				text-indent: 60px;
			}
		}
	}
	&__link {
		display: block;
		color: $textColor_0color;
		font-size: 0px;
		position: relative;
		background-repeat: no-repeat;
		background-position: left center;
		@include media(iPhone){
			background-size: contain;
			height: calc(( 60 * 100 / 750 )* 1svw);
			min-width: calc(( 290 * 100 / 750 )* 1svw);
			width: calc(( 610 * 100 / 750 )* 1svw);
			margin: calc(( 20 * 100 / 750 )* 1svw) 0;
		}
		@include media(PC){
			background-size: inherit;
			height: 60px;
			min-width: 290px;
			width: 610px;
			margin: 20px 0;
		}
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0%;
			width: 100%;
			@include media(iPhone){
				height: calc(( 1 * 100 / 750 )* 1svw);
			}
			@include media(PC){
				height: 3.3px;
			}
			background:$bgColor_Black;
			transition: all 350ms;
			transform: scale(0, 1);
			transform-origin: left bottom;
		}
		&:hover::after {
			transform: scale(1, 1);
		}
	}
}