@use "../../foundation/" as *;

.c-icon {
	&__hamburger {
		display: block;
		position: relative;
		background-color: $textColor_White;
		color: $textColor_0color;
		
		@include media(iPhone){
			height: calc(( 4 * 100 / 750 )* 1svw);
			width: calc(( 45 * 100 / 750 )* 1svw);
			margin: calc(( 40 * 100 / 750 )* 1svw) calc(( 38 * 100 / 750 )* 1svw) auto calc(( 83 * 100 / 750 )* -1svw);
			&::before,
			&::after {
				position: absolute;
				content: "";
				display: block;
				background-color: $textColor_White;
				height: calc(( 4 * 100 / 750 )* 1svw);
				width: calc(( 45 * 100 / 750 )* 1svw);	
			}
			&::before {
				top: calc(( 12 * 100 / 750 )* -1svw);
			}
			&::after {
				top: calc(( 12 * 100 / 750 )* 1svw);;
			}
		}
		@include media(PC){
			height: 4px;
			width: 45px;
			margin: 40px 38px auto -83px;
			&::before,
			&::after {
				position: absolute;
				content: "";
				display: block;
				background-color: $textColor_White;
				height: 4px;
				width: 45px;	
			}
			&::before {
				top: -12px;
			}
			&::after {
				top: 12px;
			}
		}
	}
	&__list {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		@include media(iPhone){
			gap: calc(( 40 * 100 / 750 )* 1svw);
		}
		@include media(PC){
			gap: 40px;
		}	}
	&__sns {
		display: block;
		background-image: url(../images/logo-x-twitter.svg);
		background-color: #000000;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 60%;
		color: transparent;
		border-radius: 50%;
		@include media(iPhone){
			height: calc(( 83 * 100 / 750 )* 1svw);
			width: calc(( 83 * 100 / 750 )* 1svw);
		}
		@include media(PC){
			height: 83px;
			width: 83px;
		}
	}
	&__mail {
		height: 83px;
		width: 83px;
		display: block;
		color: $bgColor_PureSnow;
		background: $textColor_PGray;
		text-align: center;
		border-radius: 100%;
	}
}
.js-open .c-icon {
	&__hamburger {
		display: block;
		position: relative;
		background-color: $textColor_0color;
		color: $textColor_0color;
		@include media(iPhone){
			height: calc(( 80 * 100 / 750 )* 1svw);
			width: calc(( 45 * 100 / 750 )* 1svw);
			margin: calc(( 40 * 100 / 750 )* 1svw) calc(( 38 * 100 / 750 )* 1svw) calc(( 38 * 100 / 750 )* -1svw) auto;
			&::before,
			&::after {
				position: absolute;
				content: "";
				display: block;
				background-color: $bgColor_Black;
				height: calc(( 4 * 100 / 750 )* 1svw);
				width: calc(( 45 * 100 / 750 )* 1svw);	
			}
			&::before {
				top: calc(( 12 * 100 / 750 )* -1svw);
				transform: rotate(45deg);
			}
			&::after {
				top: calc(( 12 * 100 / 750 )* -1svw);
				transform: rotate(-45deg);
			}
		}
		@include media(PC){
			height: 80px;
			width: 45px;
			margin: 40px 38px -38px auto;
			&::before,
			&::after {
				position: absolute;
				content: "";
				display: block;
				background-color: $bgColor_Black;
				height: 4px;
				width: 45px;	
			}
			&::before {
				top: -12px;
				transform: rotate(45deg);
			}
			&::after {
				top: -12px;
				transform: rotate(-45deg);
			}
		}
	}
}