@use "../../foundation/" as *;

.c-project {
	&__headline {
		@include media(iPhone){
			line-height: calc(( 50 * 100 / 750 )* 1svw);
			font-size: calc(( 28 * 100 / 750 )* 1svw);
			padding-bottom: calc(( 20 * 100 / 750 )* 1svw);
		}
		@include media(PC){
			line-height: 50px;
			font-size: 28px;
			padding-bottom: 20px;
		}
	}
	&__caption {
		@include media(iPhone){
			line-height: calc(( 40 * 100 / 750 )* 1svw);
			font-size: calc(( 20 * 100 / 750 )* 1svw);
			letter-spacing: 20;
		}
		@include media(PC){
			line-height: 40px;
			font-size: 20px;
			letter-spacing: 20;
		}
	}
	&__detail {
		&--title {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			font-family: $textFont_Japanese;
			background: $bgColor_PaleGray;
			border-width: 1px;
			border-color: $bgColor_Black $textColor_0color $textColor_0color $textColor_0color;
			border-style: solid;
			@include media(iPhone){
				width: 100%;
				margin: 0;
				padding: 0 calc((55 * 100 / 750)* 1svw);
				font-size: calc((26 * 100 / 750)* 1svw);
				line-height: calc((50 * 100 / 750)* 1svw);
				height: calc((80 * 100 / 750)* 1svw);
			}
			@include media(PC){
				width: 100%;
				margin: auto;
				padding: 0 55px;
				font-size: 26px;
				line-height: 50px;
				height: 80px;
			}
			&::after {
				content: url('../images/icon-down.svg');
				transition: all 700ms;
				z-index: 0;
				@include media(iPhone){
					margin: 1svw 0 0 0;
					transform: rotate(0deg) scale(0.5);
				}
				@include media(PC){
					margin: 0 0 2px 0;
					transform: rotate(0deg);
				}
			}
			&.menu-open::after {
				z-index: -1;
			}
			&.js-open::after {
				content: url('../images/icon-down.svg');
				transition: all 700ms;
				z-index: 0;
				@include media(iPhone){
					margin: 0 0 1svw 0;
					transform: rotate(180deg) scale(0.5);
				}
				@include media(PC){
					margin: 0 0 2px 0;
					transform: rotate(180deg);
				}

			}
		}
		&--text + &--title {
			@include media(iPhone){
				margin-top: calc((20 * 100 / 750)* 1svw);
			}
			@include media(PC){
				margin-top: 20px;
			}
		}
		&--text {
			display: block;
			background: $bgColor_PaleGray;
			border-width: 1px;
			border-color: $textColor_0color $textColor_0color $bgColor_Black $textColor_0color;
			border-style: solid;
			height: 0;
			overflow: hidden;
			@include media(iPhone){
				width: 100%;
				margin: 0;
				padding: 0 calc((55 * 100 / 750)* 1svw);
				font-size: calc((32 * 100 / 750)* 1svw);
			}
			@include media(PC){
				width: 100%;
				margin: auto;
				padding: 0 55px;
				font-size: 32px;
			}
			transition: all 700ms ease-in-out;
			& > .c-project-detail__text--wrap {
				opacity: 0;
				transition: opacity 600ms ease-in-out;
			}
		}
		&--text.js-open {
			display: block;
			overflow: hidden;
			background: $bgColor_PaleGray;
			border-width: 1px;
			border-color: $textColor_0color $textColor_0color $bgColor_Black $textColor_0color;
			border-style: solid;
			position: relative;
			height: 100%;
			@include media(iPhone){
				width: 100%;
				margin: 0;
				padding: calc((70 * 100 / 750)* 1svw) calc((55 * 100 / 750)* 1svw) 0 calc((55 * 100 / 750)* 1svw);
				font-size: calc((32 * 100 / 750)* 1svw);
			}
			@include media(PC){
				width: 100%;
				margin: auto;				
				padding: 70px 55px 0 55px;
				font-size: 32px;
			}
			transition: all 700ms ease-in-out;
			& > .c-project-detail__text--wrap {
				opacity: 1;
				transition: opacity 600ms ease-in-out;
			}
		}
		&--posts {
			display: flex;
			@include media(iPhone) {
				padding: calc((60 * 100 / 750)* 1svw) calc((30 * 100 / 750)* 1svw) 0 calc((30 * 100 / 750)* 1svw);
				font-size: calc((32 * 100 / 750)* 1svw);
			}
			@include media(PC) {
				padding: 60px 30px 0 30px;
				font-size: 32px;
			}
		}
	}
	&-detail {
		&__text {
			&--title {
				display: inline-block;
				background: $bgColor_Black;
				color: $bgColor_White;
				@include media(iPhone){
					line-height: calc((60 * 100 / 750)* 1svw);
					height: calc((60 * 100 / 750)* 1svw);
					font-size: calc((32 * 100 / 750)* 1svw);
					padding: 0 calc((16.5 * 100 / 750)* 1svw);
					margin-bottom: calc((25 * 100 / 750)* 1svw);
				}
				@include media(PC){
					line-height: 60px;
					height: 60px;
					font-size: 32px;
					padding: 0 16.5px;
					margin-bottom: 25px;
				}
			}
			&--text + &--title {
				@include media(iPhone){
					margin-top: calc((60 * 100 / 750)* 1svw);
				}
				@include media(PC){
					margin-top: 60px;
				}
			}
			&--text {
				font-family: $textFont_English;
				letter-spacing: 20;
				font-weight: $textFont_WeightBold;
				@include media(iPhone){
					font-size: calc((28 * 100 / 750)* 1svw);
					line-height: calc((48 * 100 / 750)* 1svw);
				}
				@include media(PC){
					font-size: 28px;
					line-height: 48px;
				}
			}
		}
	}
	&-detail-text {
		&__title + &__title {
			@include media(iPhone){
				margin-top: calc((40 * 100 / 750)* 1svw);
			}
			@include media(PC){
				margin-top: 40px;
			}
		}
	}
}