@use "../../foundation/" as *;

.c-staff-list {
	&__title {
		display: block;
		background: url(../images/title-staff-list.svg);
		background-position: top left;
		background-repeat: no-repeat;
		background-size: cover;
		color: $textColor_0color;
		@include media(iPhone){
			line-height: calc((60 * 100 / 750)* 1svw);
			height: calc((34 * 100 / 750)* 1svw);
			margin :auto auto calc((60 * 100 / 750)* 1svw) auto;
		}
		@include media(PC){
			line-height: 34px;
			height: 34px;
			margin: auto auto 60px auto;
		}
	}
	&__lists {
		&--title {
			display: inline-block;
			background: $bgColor_Black;
			color: $bgColor_White;
			@include media(iPhone){
				line-height: calc((60 * 100 / 750)* 1svw);
				height: calc((60 * 100 / 750)* 1svw);
				font-size: calc((32 * 100 / 750)* 1svw);
				padding: 0 calc((16.5 * 100 / 750)* 1svw);
				margin-bottom: calc((25 * 100 / 750)* 1svw);
			}
			@include media(PC){
				line-height: 60px;
				height: 60px;
				font-size: 32px;
				padding: 0 16.5px;
				margin-bottom: 25px;
			}
		}
		&--list + &--title {
			@include media(iPhone){
				margin-top: calc((60 * 100 / 750)* 1svw);
			}
			@include media(PC){
				margin-top: 60px;
			}
		}
	}
	&__name {
		display: block;
		font-family: $textFont_English;
		@include media(iPhone){
			font-size: calc((28 * 100 / 750)* 1svw);
			line-height: calc((60 * 100 / 750)* 1svw);
		}
		@include media(PC){
			font-size: 28px;
			line-height: 60px;
		}
	}
}