@use "../../foundation/" as *;

.c-x-twitter {
	&__title {
		background-image:url(../images/title-x-twitter.svg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		color: $textColor_0color;
		font-size: 0px;
		display: inline-block;
		@include media(iPhone){
			width: calc(100% + (( 60 * 100 / 750 ) * -1svw));
			height: calc(( 48 * 100 / 750 ) * 1svw);
			margin: 0 calc(( 30 * 100 / 750 ) * 1svw) calc(( 54 * 100 / 750 ) * 1svw) calc(( 30 * 100 / 750 ) * 1svw);
		}
		@include media(PC){
			width: calc( 100% - 60px );
			height: 48px;
			margin: 0 30px 54px 30px;
		}
	}
	&__data {
		overflow-y: scroll;
		background: $bgColor_PureSnow;
		@include media(iPhone){
			height: calc((600 * 100 / 750)* 1svw);
			margin: auto calc((30 * 100 / 750)* 1svw);
			border-radius: 3svw;
		}
		@include media(PC){
			height: 600px;
			margin: auto 30px;
			border-radius: 10px;
		}
	}
}
