@use "../../foundation/" as *;

.p-author-list {
	display: block;
	font-family: "fot-tsukuardgothic-std", sans-serif;
	font-weight: 700;
	@include media(iPhone){
		width: 100%;
		margin-bottom: calc((150 * 100 / 750)* 1svw);
	}
	@include media(PC){
		width: 100%;
		margin-bottom: 150px;
	}
	&__lists {
		color: $bgColor_Black;
		background: $bgColor_White;
	}
}