@use "../../foundation/" as *;

.p-hamburger-menu {
	position: absolute;
	top: 0;
	display: block;
	background-color: $bgColor_PaleGray;
	margin: 0 0 0 auto;
	@include media(iPhone){
		right: calc(( 610 * 100 / 750 )* -1svw);
		width: calc(( 610 * 100 / 750 )* 1svw);
	}
	@include media(PC){
		right: -610px;
		width: 610px;
	}
	
	&.js-open {
		overflow-y: scroll;
		overflow-x: hidden;
		height: 100svh;
		right: 0;
		animation: frame-in 700ms;
	}
	&:not(.js-open) {
		display: block;
		height: 100svh;
		background-color: $textColor_0color;
		margin: 0 0 0 auto;
		@include media(iPhone){
			right: calc(( 610 * 100 / 750 )* -1svw);
			width: calc(( 610 * 100 / 750 )* 1svw);
		}
		@include media(PC){
			right: -610px;
			width: 610px;
		}
	}
	&__button {
		position: absolute;
		display: flex;
		top: 0;
		justify-content: end;
		align-items: center;
		@include media(iPhone){
			height: calc(( 100 * 100 / 750 ) * 1svw);
			width: 100svw;
			left: -100svw;
		}
		@include media(PC){

			height: 100px;
			width: 750px;
			left: -750px;
		}
	}
	.js-open > &__button {
		position: absolute;
		display: flex;
		top: 0;
		justify-content: end;
		align-items: center;
		@include media(iPhone){
			height: calc(( 100 * 100 / 750 ) * 1svw);
			width: 100svw;
			left: calc(( -99 * 100 / 750 ) * 1svw);
		}
		@include media(PC){

			height: 100px;
			width: 750px;
			left: -99px;
		}
	}
}