@use "../../foundation/" as *;

.p-hamburger-menu {
	position: absolute;
	display: block;
	background-color: $bgColor_PaleGray;
	margin: 0 0 0 auto;
	@include media(iPhone){
		right: calc(( 610 * 100 / 750 )* -1svw);
		top: calc(( 50 * 100 / 750 )* -1svw);
		width: calc(( 610 * 100 / 750 )* 1svw);
	}
	@include media(PC){
		right: calc(-610px + 13px);
		top: -50px;
		width: 610px;
	}
	
	&.js-open {
		overflow-y: scroll;
		overflow-x: hidden;
		height: 100svh;
		top: 0;
		@include media(iPhone){
			right: 0;
		}
		@include media(PC){
			right: -13px;
		}
		animation: frame-in 700ms;
	}
	&:not(.js-open) {
		display: block;
		height: 100svh;
		background-color: $textColor_0color;
		font-size: 0px;
		margin: 0 0 0 auto;
		@include media(iPhone){
			right: calc(( 610 * 100 / 750 )* -1svw);
			width: calc(( 610 * 100 / 750 )* 1svw);
		}
		@include media(PC){
			right: -610px;
			width: 610px;
		}
		animation: frame-out 700ms;
	}
	&__button {
		position: absolute;
		display: flex;
		justify-content: end;
		align-items: center;
		@include media(iPhone){
			top: calc(( 50 * 100 / 750 ) * 1svw);
			height: calc(( 100 * 100 / 750 ) * 1svw);
			width: calc(( 100 * 100 / 750 ) * 1svw);
			left: calc(( 100 * 100 / 750 ) * -1svw);
		}
		@include media(PC){
			top: 50px;
			height: 100px;
			width: 100px;
			left: -100px;
		}
	}
	.js-open > &__button {
		position: absolute;
		display: flex;
		top: 0;
		justify-content: end;
		align-items: center;
		@include media(iPhone){
			height: calc(( 100 * 100 / 750 ) * 1svw);
			width: 100svw;
			left: calc(( -99 * 100 / 750 ) * 1svw);
		}
		@include media(PC){

			height: 100px;
			width: $widthMainContent;
			left: -99px;
		}
	}
}