@use "../../foundation/" as *;

:not(.js-open) > .p-hidden-menu {
	display: none;
	transition: all 700ms;
	@include media(iPhone) {
		padding-top:  calc(( 100 * 100 / 750 ) * 1svw);
	}
	@include media(PC) {
		padding-top:  100px;
	}
}
.js-open > .p-hidden-menu {
	display: block;
	opacity: 1;
	transition: all 700ms;
	@include media(iPhone) {
		padding-top:  calc(( 100 * 100 / 750 ) * 1svw);
	}
	@include media(PC) {
		padding-top:  100px;
	}
}