@use "../../foundation/" as *;

.p-information {
	display: block;
	margin: auto;
	color: $bgColor_Black;
	background-repeat: repeat-y;
	background: url('../images/background-info-line.svg') $bgColor_PureSnow;
	@include media(iPhone){
		width: 100svw;
		background-size: 100svw;;
	}
	@include media(PC){
		width: $widthMainContent;
		background-size: $widthMainContent;
	}
	&__lists {
		display: block;
		width: 100%;
		margin: auto;
		color: $bgColor_Black;
		background: url('../images/background-info.svg');
		background-repeat: no-repeat;
		@include media(iPhone){
			background-size: 100svw;
			padding: calc((155 * 100 / 750)* 1svw) calc((30 * 100 / 750)* 1svw) calc(((155 - 50) * 100 / 750) * 1svw) calc((108 * 100 / 750)* 1svw);
		}
		@include media(PC){
			background-size: $widthMainContent; 
			padding: 155px 30px calc(155px - 50px) 108px;
		}	
	}
}