@use "../../foundation/" as *;

.p-key-visual {
	display: block;
	background-image: url(../images/key-visual.png);
	background-color: #0B0B0B;
	background-repeat: no-repeat;
	background-position: bottom right;
	@include media(iPhone){
		width: calc((635 * 100 / 750)* 1svw);
		min-height: calc((1100 * 100 / 750)* 1svw);
		background-size: calc((563 * 100 / 750)* 1svw) calc((1000 * 100 / 750)* 1svw);
	}
	@include media(PC){
		width: 635px;
		min-height: 1100px;
		background-size: 563px 1000px;
	}
}