@use "../../foundation/" as *;

.p-lists-about {
	display: block;
	margin: auto;
	color: $bgColor_Black;
	@include media(iPhone){
		width: 100%;
		padding: calc((155 * 100 / 750)* 1svw) calc((30 * 100 / 750)* 1svw) calc((175 * 100 / 750)* 1svw) calc((30 * 100 / 750)* 1svw);
	}
	@include media(PC){
		width: 100%;
		padding: 155px 30px 175px 30px;
	}
	&__category {
		background: $bgColor_Black;
		color: $bgColor_White;
	}
}