@use "../../foundation/" as *;

.p-news {
	display: block;
	background: #0B0B0B;
	@include media(iPhone){
		width: 100%;
		margin: auto auto calc((140 * 100 / 750)* 1svw) auto;
	}
	@include media(PC){
		width: 100%;
		margin: auto auto 140px auto;
	}
	&-contents {
		&__wrap {
			background: $bgColor_White;
			overflow-y: scroll;
			@include media(iPhone){
				height: calc((400 * 100 / 750)* 1svw);
				border-radius: calc((9 * 100 / 750)* 1svw);
				margin: auto calc((30 * 100 / 750)* 1svw);
				padding: 0 calc((40 * 100 / 750)* 1svw);
			}
			@include media(PC){
				height: 400px;
				border-radius: 9px;
				margin: auto 30px;
				padding: 0 40px;
			}
		}
	}
}