@use "../../foundation/" as *;

.p-project {
	font-family: $textFont_English;
	font-weight: $textFont_WeightBold;
	display: block;
	width: 100%;
	margin: auto;
	color: $bgColor_Black;
	background: url('../images/title-project.svg') 0 -1px;
	background-repeat: no-repeat;
	@include media(iPhone){
		background-size: 100svw;
		padding: calc(( 155 * 100 / 750 )* 1svw) calc(( 30 * 100 / 750 )* 1svw) calc(( 50 * 100 / 750 )* 1svw) calc(( 108 * 100 / 750 )* 1svw);
	}
	@include media(PC){
		background-size: 750px;
		padding: 155px 30px 50px 108px;
	}
	color: $bgColor_Black;
	&__detail {
		color: $textColor_Black;
	}
}