@use "../../foundation/" as *;

.p-staff-list {
	display: block;
	margin: auto;
	width: 100%;
	&__lists {
		color: $bgColor_Black;
		@include media(iPhone){
			padding: calc((155 * 100 / 750)* 1svw - 8svw) calc((30 * 100 / 750)* 1svw) calc((155 * 100 / 750)* 1svw) calc((30 * 100 / 750)* 1svw);
		}
		@include media(PC){
			padding: calc(155px - 60px) 30px 155px 30px;
		}
	}
}