@use "../foundation/" as *;

.l-body {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
	color: $textColor_White;
	background-color: $bgColor_Black;
	// overflow: hidden;
	overflow-x: hidden;
	width: 100svw;
	font-family: $textFont_Japanese;
	font-weight: $textFont_WeightRegular;
}
