@use "../foundation/" as *;

.l-header {
	position: fixed;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: $bgColor_Black;
	z-index: 9999;
	margin: 0 auto;
	transition: top 700ms;
	@include media(iPhone){
		top: 0;
		padding-top: calc(( 32 * 100 / 750 ) * 1svw);
		padding-right: 0;
		padding-bottom: calc(( 30 * 100 / 750 ) * 1svw);
		padding-left: calc(( 32 * 100 / 750 ) * 1svw);
		width: 100%;
		height: calc(( 100 * 100 / 750 ) * 1svw);
	}
	@include media(PC){
		top: 0;
		padding: 32px 0 30px 32px; 
		width: $widthMainContent;
		height: 100px;
	}
	&.js-open {
		position: fixed;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		background-color: $bgColor_Black;
		z-index: 9999;
		margin: 0 auto;
		transition: top 700ms;
		@include media(iPhone){
			padding: calc(( 32 * 100 / 750 ) * 1svw) 0 calc(( 30 * 100 / 750 ) * 1svw) calc(( 32 * 100 / 750 ) * 1svw);
			width: 100%;
			height: calc(( 100 * 100 / 750 ) * 1svw);
			top: 0;
		}
		@include media(PC){
			padding: 32px 0 30px 32px; 
			width: $widthMainContent;
			height: 100px;
			top: 0;
		}
	}
}