@use "../foundation/" as *;

.l-main {
	display: block;
	// position: fixed;
	// top: 0;
	// right: 0;
	// left: 0;
	position: relative;
	background: $bgColor_Black;
	// overflow-y: scroll;
	// overflow-x: hidden;
	z-index: 1;
	@include media(iPhone){
		margin: auto;
		width: 100svw;
		// height: 100lvh;
	}
	@include media(PC){
		margin: 0 auto;
		width: $widthMainContent;
		// height: 100lvh;
	}
}
.l-top-part {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-end;
	align-items: flex-end;
	background: url(../images/background-part1.svg);
	background-position: top left;
	background-repeat: no-repeat;
	color: $textColor_White;
	@include media(iPhone){
		background-size: 100%;
		width: 100svw;
	}
	@include media(PC){
		background-size: auto;
		width: 100%;
	}
}
.l-about-part {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: flex-start;
	background: url(../images/background-part2-line.svg);
	background-position: top right;
	background-repeat: repeat-y;
	color: $textColor_White;
	@include media(iPhone){
		background-size: 100%;
		width: 100svw;
	}
	@include media(PC){
		background-size: auto;
		width: 100%;
	}
}
.l-flyer-part {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: flex-start;
	background: url(../images/background-part2-line.svg);
	background-position: top right;
	background-repeat: repeat-y;
	@include media(iPhone){
		background-size: 100%;
		width: 100svw;
	}
	@include media(PC){
		background-size: auto;
		width: 100%;
	}
}
.l-project {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: flex-start;
	background: url(../images/background-info-line.svg) $bgColor_PureSnow;
	background-position: top right;
	background-repeat: repeat-y;
	@include media(iPhone){
		background-size: 100%;
		width: 100svw;
	}
	@include media(PC){
		background-size: auto;
		width: 100%;
	}
}
.l-concept-part{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: flex-start;
	background: url(../images/background-part2-line.svg);
	background-position: top right;
	background-repeat: repeat-y;
	@include media(iPhone){
		background-size: 100%;
		width: 100svw;
	}
	@include media(PC){
		background-size: auto;
		width: 100%;
	}
}
.l-contact {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: flex-start;
	background: url(../images/background-info-line.svg) $bgColor_PureSnow;
	background-position: top right;
	background-repeat: repeat-y;
	@include media(iPhone){
		background-size: 100%;
		width: 100svw;
	}
	@include media(PC){
		background-size: auto;
		width: 100%;
	}
}
.l-main {
	@include media(iPhone){
		width: 100svw;
		padding-top: calc(( 100 * 100 / 750 ) * 1svw);
	}
	@include media(PC){
		padding-top: 100px;
		width: $widthMainContent;
	}
}